/* define root variables */
:root {
    --space: #33393f;
    --bright-turquoise:#03e8d8;
    --cream-white: #ffffffda;
    --neon-pink:#e957fc;
}

h1 {
    color: var(--neon-pink);
    margin: 1rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

body {
    background-color: var(--space);
}

header {
    text-align: center;
    margin: 2rem;
}

.subtitle {
    color: var(--cream-white);
}

.snippets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.css-snippet-card {
    color: var(--neon-pink);
    outline: 2px dashed var(--cream-white);
    outline-offset: -2px;
    z-index: 0;
    flex: 1 0 30%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 0.5 ease-in-out;
}

.card-heading {
    border: 1px solid var(--cream-white);
    padding: 0.25rem;
    border-radius: 5px;
    z-index: 1;
    margin: -0.5em 2em 2em 1em;
    position: relative;
    background-color: var(--space);
}

.card-description {
    font-size: 0.75rem;
    text-align: center;
}

.code-snippet {
    white-space: pre-wrap;
    overflow: auto;
    color: var(--cream-white);
    background-image: linear-gradient(rgba(182, 48, 235, 0.611)0%, rgba(212, 95, 218, 0.891)100%);
    padding: 1rem 0 1rem 0;
    margin: 1rem;
    border-radius: 5px;
    tab-size: 4;
    padding: 1.2rem 1.25rem;
    display: flex;
    align-items: center;
}

.code-snippet:active {
    user-select: all;
}


footer {
    text-align: center;
    color: var(--neon-pink);
    margin: 1rem;
}

.card 